<!DOCTYPE html>
<html>
    <head>
        <title>用户信息</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="X-UA-Compatible" content="IE=9"> 
        <script type="text/javascript" src="__PUBLIC__/JS/jquery.min.js"></script>

        <link href="__PUBLIC__/CSS/bootstrap.min.css" rel="stylesheet"/>
        <link href="__PUBLIC__/CSS/bootstrap.css" rel="stylesheet"/>
        <script src="__PUBLIC__/JS/bootstrap.min.js"></script>
        <link rel="stylesheet" href="__PUBLIC__/CSS/datepicker.css">
        <script type="text/javascript" src="__PUBLIC__/JS/bootstrap-datepicker.js"></script>
        <script src="__PUBLIC__/JS/city.js"></script>

        <script src="__PUBLIC__/JS/jquery.placeholder.js"></script>
        <script type="text/javascript">
            $(function () {
                $('input,textarea').placeholder();
            });
        </script>

        <!--[if lt IE 9]>
            <script src="__PUBLIC__/JS/html5shiv.js";></script>
            <script src="__PUBLIC__/JS/respond.js";></script>
        <![endif]-->

        <script type="text/javascript" src="__PUBLIC__/JS/del.js"></script>
        <link href="__PUBLIC__/CSS/hongic.css" rel="stylesheet"/>
        <script src="__PUBLIC__/JS/PIE_IE678.js"></script>

    </head>
    <body class="container-fluid" style="width: 1680px;" onload="onloadprovince()">
        <div class="where">

            当前位置 ：管理老板 -> 显示

        </div>
        <div style="margin-top: 10px">

            <script type="text/javascript">
                $(document).ready(function () {
                    $("button").click(function () {
                        $("#search").slideToggle();
                    });
                });
            </script>
            <button type="button" class="btn btn-default btn-sm btn-block yuan-10" id="moreSearch">多条件搜索</button>



            <form class="form-horizontal" role="form" method="post" action="{:U('User/searching')}">
                <div style="text-align: center;display: none" id="search">

                    <label class="label-form" style="margin-top: 10px;">用户名</label>
                    <input type="text"  class="input-in input-in-place"  placeholder="登录名" name="name" >

                    <label class="label-form" style="margin-top: 10px;">姓名</label>
                    <input type="text"  class="input-in input-in-place"  placeholder="真实姓名" name="real" >

                    <label class="label-form" style="margin-top: 10px;">身份证</label>
                    <input type="text"  class="input-in input-in-place"  placeholder="身份证号码" name="IDcard" >


                    <label class="label-form" style="margin-top: 0px;">电话</label>
                    <input type="text"  class="input-in input-in-place"  placeholder="联系电话" name="tel" >
                    <br>
                    <label class="label-form" style="margin-top:0px;">试用</label>
                    <input type="text"  class="input-in input-in-place"  placeholder="1 试用 0 禁用，例：1" name="free" >

                    <label class="label-form" style="margin-top: 0px;">收费</label>
                    <input type="text"  class="input-in input-in-place"  placeholder="1 收费 0 免费，例：1" name="toll" >



                    <label class="label-form" style="margin-top:0px;">邮箱</label>
                    <input type="email"  class="input-in input-in-place"  placeholder="Email" name="email" >

                    <label class="label-form" style="margin-top: 0px;">固定电话</label>
                    <input type="text"  class="input-in input-in-place"  placeholder="固定电话" name="phone" >
                    <br>
                    <label class="label-form" style="margin-top: 0px;">地址</label>
                    <input type="text"  class="input-in input-in-place"  placeholder="地址" name="address" >


                    <label class="label-form" style="margin-top: 0px;">传真</label>
                    <input type="text"  class="input-in input-in-place"  placeholder="传真" name="fax" >

                    <label class="label-form" style="margin-top: 0px;">备注</label>
                    <input type="text"  class="input-in input-in-place"  placeholder="备注" name="info" >
                    <div style="width: 330px;display: inline-block"></div>
                    <br>
                    <label class="label-form" style="margin-top: 0px;">登陆时间 </label>

                    <input type="text"  name="start"  class="input-in input-in-place"  placeholder="日期格式：2014-11-10"   id="start">
                    <script>
                        $(document).ready(function () {
                            $("input[id=start]").click(function () {
                                $('#start').datepicker();
                            })
                        })
                    </script>

                    <label class="label-form" style="margin-top:0px;">至</label>
                    <input type="text"  name="end"  class="input-in input-in-place"  placeholder="日期格式：2014-11-11"   id="end">
                    <script>
                        $(document).ready(function () {
                            $("input").click(function () {
                                $('#end').datepicker();
                            })
                        })
                    </script>

                    <label for="inputPassword3" class="label-form">所在区域</label>

                    <select id="province"  name="province" class="input-in input-in-place" onchange="cityName(this.selectedIndex);" >
                        <option value="">
                            -- 请选择省份 --
                        </option>
                    </select>

                    <select id="city" name="city" class="input-in input-in-place" >
                        <option value="">
                            -- 请选择城市名 --
                        </option>
                    </select>
                    <div style="width: 60px;display: inline-block"></div>
                    <br>
                    <button type="submit" class="btn btn-primary yuan-6"  style="font-size: 20px;" id="out-xian"> 搜 索 </button>

                </div>

            </form>

            <div style="margin-top: 10px">
                <table class="table table-striped" >
                    <thead>
                        <tr class="tb-thead">
                            <th style="width: 40px;">ID</th>
                            <th style="width: 80px">用户名</th>
                            <th >密码</th>
                            <th title="真实姓名" style="width: 100px;">姓名</th>
                            <th style="width: 100px">身份证</th>
                            <th style="width: 60px">电话</th>
                            <th style="text-align: center;width: 50px;" title="当前试用状态">试用</th>
                            <th style="text-align: center;width: 50px;" title="当前收费状态">收费</th>
                            <th  style="width: 200px">区域</th>
                            <th >邮箱</th>
                            <th >固定电话</th>
                            <th >传真</th>
                            <th style="width: 160px">地址</th>

                            <th style="width: 100px">数据库</th>
                            <th style="text-align: center;">注册时间</th>
                            <th style="text-align: center;">上次登录</th>

                            <th >备注</th>
                            <th >操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="vo" empty="空白">
                        <tr  <php>if($key%2) { echo " class='tb-tbody-one'";}else{ echo " class='tb-tbody-two'";} </php> >
                        <td >{$vo.id}
                        </td>
                        <td title="{$vo.name}" style="width: 100px">{$vo.name|default="null"}</td>
                        <td title="{$vo.pwd}" style="width: 100px">{$vo.pwd|default="null"}</td>
                        <td title="{$vo.realName}"  style="width: 100px">{$vo.realName|default="null"}</td>
                        <td title="{$vo.IDcard}"  style="width: 100px">{$vo.IDcard|default="null"|subStr=0,18}</td>
                        <td title="{$vo.tel}">{$vo.tel|default="null"}</td>

                        <td style="width: 46px;text-align: center" title="当前使用状态">

                        <if condition="$vo.isfree eq 0 "> 
                            <a class="btn btn-primary  btn-xs" href="{:U('Probation/freeUpdate',array('uid'=>$vo['pro_id']))}" role="button" title="点击试用">禁 用</a>
                            <else/>
                            <a class="btn btn-primary  btn-xs" href="{:U('Probation/freeUpdate',array('uid'=>$vo['pro_id']))}" role="button" title="点击禁用">试 用</a>
                        </if>
                        </td>
                        <td style="width:46px" title="当前收费状态">
                        <if condition="$vo.istoll eq 0 "> 
                            <a class="btn btn-primary  btn-xs" href="{:U('Probation/tollUpdate',array('uid'=>$vo['pro_id']))}" role="button" title="点击收费">免 费</a>
                            <else/>
                            <a class="btn btn-primary  btn-xs" href="{:U('Probation/tollUpdate',array('uid'=>$vo['pro_id']))}" role="button" title="点击免费">收 费</a>
                        </if>
                        </td>

                        <td style="width: 100px" title="{$vo.area}">{$vo.area|default="null"}</td>

                        <td title="{$vo.email}">{$vo.email|default="null"}</td>
                        <td title="{$vo.phone}">{$vo.phone|default="null"}</td>
                        <td title="{$vo.fax}">{$vo.fax|default="null"}</td>
                        <td style="width: 160px" title="{$vo.address}">{$vo.address|default="null"|msubstr=0,20}</td>


                        <td title="{$vo.dbname}">{$vo.dbname|default="null"}</td>

                        <td style="text-align: center;width: 100px;">{$vo.regtime|default="null"}</td>
                        <td style="text-align: center;width: 100px;">{$vo.latetime|default="null"}</td>

                        <td title="{$vo.info}">{$vo.info|msubstr=0,3}</td>
                        <td style="text-align: center;width: 30px;">
                            <a class="btn btn-primary  btn-xs" href="{:U('User/update',array('uid'=>$vo['id']))}" role="button">修 改</a>
                            <a class="btn btn-primary  btn-xs" href="{:U('User/delete',array('uid'=>$vo['id']))}" role="button" title="删除不可恢复，谨慎操作" id="del" onclick ="return del_sure()">
                                删 除
                            </a>
                        <php>
                            if($vo['dbname']==""){
                        </php>
                        <a class="btn btn-primary  btn-xs" href="{:U('User/addDB',array('id'=>$vo['id']))}" role="button" id="del">建库</a>
                        <php>}
                        </php>
                        </td>
                    </volist>


                    </tr>
                    </volist>
                    </tbody>
                    <tr class="footerTr">
                        <td style="font-size: 20px;text-align: center;font-weight: bolder;">{$uscount}</td>
                        <td style="font-size: 20px;font-weight: bolder;text-align: center;">总计</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                    </tr>
                </table>
            </div>
            <div style="text-align:center;">
                {$page}        

            </div>
        </div>
    </body>
</html>
