<!DOCTYPE html>
<html>
    <head>
        <title>用户信息</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="__PUBLIC__/CSS/bootstrap.min.css" rel="stylesheet"/>
        <script src="__PUBLIC__/JS/bootstrap.min.js"></script>
         <link href="__PUBLIC__/CSS/hongic.css" rel="stylesheet"/>

    </head>
    <body class="container-fluid">
        <div style="margin-top: 10px">




            <form class="form-horizontal" role="form" method="get" action="{:U('User/searching')}">
                <div class="form-group">
                    <label class="col-sm-3 control-label">关键字</label>
                    <div class="col-sm-4">
                        <input type="text"  class="form-control" id='bar' placeholder="关键字" name="search" required>
                    </div>
                    <button type="submit" class="btn btn-primary"> 搜 索 </button>
                </div>


            </form>





            <div style="margin-top: 10px">
                <table class="table table-hover" >
                    <tr class="info">
                        <td >ID</td>
                        <td >名称</td>
                        <td >密码</td>
                        <td >注册时间</td>
                        <td >上次登录时间</td>
                        <td >所属组</td>
                        <td >现有权限 ID</td>
                        <td >操作</td>
                    </tr>
                    <volist name="list" id="vo" empty="空白">
                        <tr>
                            <td >{$vo.id}
                                <a href="{:U('User/delete',array('uid'=>$vo['id']))}" title="删除不可恢复，谨慎操作">
                                    <button type="button" class="close" ><span aria-hidden="true">&times;</span></button>
                                </a>
                            </td>
                            <td >{$vo.name|default="无"}</td>
                            <td >{$vo.pwd|default="无"}</td>
                            <td >{$vo.regtime|default="无"}</td>
                            <td >{$vo.latetime|default="无"}</td>
                        <volist name="vo['Group']" id='xc'>
                            <td >{$xc.title|default="无"}</td>
                            <td >{$xc.rules|default="无"}</td>
                        </volist>
                        <td >
                            <a class="btn btn-primary  btn-xs" href="{:U('User/update',array('uid'=>$vo['id']))}" role="button">修改</a>
                        </td>


                        </tr>
                    </volist>

                </table>
            </div>
            <div style="text-align:center;">
                {$page}        

            </div>
        </div>
    </body>
</html>
