<!DOCTYPE html>
<html>
    <head>
        <title>更新用户的信息</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="__PUBLIC__/CSS/bootstrap.min.css" rel="stylesheet"/>
        <script src="__PUBLIC__/JS/bootstrap.min.js"></script>
         <link href="__PUBLIC__/CSS/hongic.css" rel="stylesheet"/>

    </head>
    <body class="container-fluid">
        <div style="margin-top: 30px;width: 90%">

            <form class="form-horizontal" role="form" method="post" action="{:U('User/update')}">

                <volist name="us" id="user" empty="额米有">

                    <input type="hidden" name='uid' value="{$user.id}">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="用户名" name='name' value="{$user.name}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">密 码</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" id="inputEmail3" placeholder="密码" name='pwd' value="{$user.pwd}" required>
                        </div>
                    </div>
                    {$user.group_id}
                    <volist name="user['Group']" id="vo" empty="没有权限">


                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label" >所属组</label>
                            <div class="col-sm-6">
                                <volist name="ug" id="ug">
                                    <label class="radio-inline">
                                        <input type="radio" name="group_id" checked= '<if condition="$ug.id eq $vo.id ">checked</if>'
                                               id="inlineRadio1"  value="{$ug.id}" required> {$ug.title}
                                    </label>

                                </volist>
                            </div>
                        </div>
                    </volist>
                </volist>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-lg">添 加</button>
                    </div>
                </div>
            </form>



        </div>
    </body>
</html>
