<!DOCTYPE html>
<html>
    <head>
        <title>添加用户组的表单</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="X-UA-Compatible" content="IE=9"> 
        <script type="text/javascript" src="__PUBLIC__/JS/jquery.min.js"></script>
        <link href="__PUBLIC__/CSS/bootstrap.min.css" rel="stylesheet"/>
        <script src="__PUBLIC__/JS/bootstrap.min.js"></script>
        <script src="__PUBLIC__/JS/jquery.placeholder.js"></script>
        <script type="text/javascript">
            $(function () {
                $('input,textarea').placeholder();
            });
        </script>

        <!--[if lt IE 9]>
            <script src="__PUBLIC__/JS/html5shiv.js";></script>
            <script src="__PUBLIC__/JS/respond.js";></script>
        <![endif]-->

        <script type="text/javascript" src="__PUBLIC__/JS/del.js"></script>
        <link href="__PUBLIC__/CSS/hongic.css" rel="stylesheet"/>
        <script src="__PUBLIC__/JS/PIE_IE678.js"></script>

    </head>
    <body class="container-fluid">
        <div class="where">

            当前位置 ：分组管理 -> 添加

        </div>
        <div style="margin-top: 30px">
            <form class="form-horizontal" role="form" method="post" action="{:U('Group/add')}" onsubmit="return che()">
                <div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">用户组名</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control yuan-6" id="bar" placeholder="Guest" name='title'  required="true" >
                        </div>
                        <div class="xing-red">*</div>
                        <script>
                            function che() {
                                var bar = $("#bar").val();
                                if (bar == "") {
                                    alert("用户组名，不能为空");
                                    $("#bar").focus();
                                    return false;
                                }
                            }

                        </script>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">当前状态</label>
                        <div class="col-sm-3">
                            <label class="radio-inline">
                                <input type="radio" name="status" checked="checked" id="inlineRadio1" value="1" > 启用
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="status" id="inlineRadio1" value="0"> 禁用
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">系统权限</label>
                    <div class="col-sm-9" >
                        <table class="table"  >
                            <tr  >
                            <volist name="sys" id="vo" default="空白">
                                <td >
                                    <input type="checkbox" id="inlineCheckbox1" name="rules[]" value="{$vo.id}" 
                                           style="margin-left: -8px;"> 
                                </td>
                                <td>
                                    {$vo.title}
                                </td>
                                <php>
                                    if ($i%3==0){
                                    echo "</tr>";
                                    }
                                </php>

                            </volist>
                        </table>

                    </div>

                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">老板权限</label>
                    <div class="col-sm-9" style="">

                        <table class="table" >
                            <tr>
                            <volist name="boss" id="vo" default="空白">

                                <td >
                                    <input type="checkbox" id="inlineCheckbox1" name="rules[]" value="{$vo.id}" 
                                           style="margin-left: -8px;">
                                </td>
                                <td>
                                    {$vo.title}
                                </td>
                                <php>
                                    if ($i%3==0){
                                    echo "</tr>";
                                    }
                                </php>

                            </volist>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">销售员权限</label>
                    <div class="col-sm-9" >
                        <table class="table">
                            <tr>
                            <volist name="salesman" id="vo" default="空白">

                                <td >
                                    <input type="checkbox" id="inlineCheckbox1" name="rules[]" value="{$vo.id}" 
                                           style="margin-left: -8px;">
                                </td>
                                <td>
                                    {$vo.title}
                                </td>
                                <php>
                                    if ($i%3==0){
                                    echo "</tr>";
                                    }
                                </php>

                            </volist>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-lg yuan-6" id="out-xian">添 加</button>
                    </div>
                </div>
            </form>


        </div>
    </body>
</html>
