<!DOCTYPE html>
<html>
    <head>
        <title>添加商品类型</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <script src="__PUBLIC__/Editor/kindeditor.js"></script>
        <script src="__PUBLIC__/Editor/lang/zh-CN.js"></script>

    </head>
    <body>
        <div style="margin-top: 30px">

            <label for="inputEmail3" class="col-sm-2 control-label">商品描述</label>

            <div class="col-xs-3">
                <textarea id="editor_id" name="content" style="width:700px;height:300px;">4454454</textarea>
            </div>
        </div>



    </body>
</html>
